#s-36f18027-6da7-44fc-9256-771af708afa5 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 > #alignmentBox {
  position: relative;
  max-width: 402.0px;
  max-height: 874.0px;
  width: 100%;
  height: 100%;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Dynamic_panel_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_2 {
  width: calc(99.99999999999999% - 0.0px - 0.0px);
  height: 1487.0000000000002px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #6699CC;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_1 .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_1 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_50 {
  position: absolute;
  width: 322.171875px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_50 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_50 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_5 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_45 {
  position: absolute;
  width: 71.345703125px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_45 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_3 .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_3 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_51 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_51 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_51 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_51 span#rtr-s-Paragraph_51_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_6 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_46 {
  position: absolute;
  width: 71.345703125px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_46 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_46 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_8 {
  position: absolute;
  width: 376.9999999999999px;
  min-height: 366.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #003B6D;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Ellipse_11 {
  width: 66.30163404661357px;
  height: 69.35052702381017px;
  min-height: 69.35052702381017px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_27 {
  position: absolute;
  width: 14.47966718420696px;
  height: 15.145517373645816px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_28 {
  position: absolute;
  width: 24.00576394709185px;
  height: 11.757704517856837px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_47 {
  position: absolute;
  width: 67.79244464044967px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_47 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_47 span {
  color: #BDBDBD;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_52 {
  position: absolute;
  width: 66.30163976779085px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_52 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_52 .valign {
  vertical-align: top;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_52 span {
  color: #BDBDBD;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_52 span#rtr-s-Paragraph_52_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_53 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_53 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_53 .valign {
  vertical-align: top;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_53 span {
  color: #BDBDBD;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 19px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_53 span#rtr-s-Paragraph_53_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 19px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_29 {
  position: absolute;
  width: 2.0px;
  height: 268.4080968080448px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_57 {
  position: absolute;
  width: 179.89783801318382px;
  min-height: 115.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_57 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_57 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_57 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 23px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_57 span#rtr-s-Paragraph_57_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 23px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_30 {
  position: absolute;
  width: 32.661578870862066px;
  height: 30.355700743863963px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_31 {
  position: absolute;
  width: 12.97513243760807px;
  height: 14.338061040333514px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_33 {
  position: absolute;
  width: 12.975132437608066px;
  height: 14.338061040333514px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_34 {
  position: absolute;
  width: 12.97513243760807px;
  height: 14.338061040333514px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_35 {
  position: absolute;
  width: 12.97513243760807px;
  height: 14.338061040333514px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Path_36 {
  position: absolute;
  width: 12.97513243760807px;
  height: 14.338061040333514px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_58 {
  position: absolute;
  width: 125.19433593750011px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_58 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_58 .valign {
  vertical-align: top;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_58 span {
  color: #BDBDBD;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 19px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_58 span#rtr-s-Paragraph_58_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 19px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_10 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Dynamic_panel_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_4 {
  width: calc(99.99999999999987% - 0.0px - 0.0px);
  height: 874.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_3 {
  position: absolute;
  width: calc(100.00000000000013% - 0.0px - 0.0px);
  min-height: 1198.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #003B6D;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Dynamic_panel_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 {
  width: 377.01776123046886px;
  height: 36.00000000000003px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 > .backgroundLayer > .colorLayer {
  background-color: #6699CC;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_32 {
  position: absolute;
  width: 45.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_32 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_34 {
  position: absolute;
  width: 53.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_34 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_35 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_35 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_36 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_36 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_3 {
  position: absolute;
  width: 32.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_3 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image_2 {
  position: absolute;
  width: 80.0px;
  height: 82.45596376446905px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 {
  position: absolute;
  width: 377.0177592648468px;
  min-height: 640.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Image > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_49 {
  position: absolute;
  width: 322.171875px;
  min-height: 210.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_49 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_4 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_44 {
  position: absolute;
  width: 71.345703125px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_44 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_44 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_1 {
  width: calc(99.99999999999999% - 0.0px - 0.0px);
  height: 184.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #003B6D;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_1 {
  position: absolute;
  width: 353.99999999999955px;
  min-height: 95.00000000000045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_29.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_29.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 200;
  text-transform: none;
  line-height: 19px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_29.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 200;
  text-transform: none;
  line-height: 19px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_2 {
  position: absolute;
  width: 289.9999999999998px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_0.0.0_system',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 {
  width: 314.0000000000005px;
  height: 36.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_4 {
  position: absolute;
  width: 45.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_4 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_5 {
  position: absolute;
  width: 53.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_5 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_6 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_6 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_7 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_7 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_8 {
  position: absolute;
  width: 32.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_8 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-36f18027-6da7-44fc-9256-771af708afa5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}