#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb > #alignmentBox {
  position: relative;
  max-width: 402.0px;
  max-height: 874.0px;
  width: 100%;
  height: 100%;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Dynamic_panel_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_2 {
  width: calc(99.99999999999987% - 0.0px - 0.0px);
  height: 557.9999999999982px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #6699CC;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Dynamic_panel_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_4 {
  width: calc(99.99999999999987% - 0.0px - 0.0px);
  height: 743.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_3 {
  position: absolute;
  width: calc(100.00000000000013% - 0.0px - 0.0px);
  min-height: 1198.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #003B6D;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image_2 {
  position: absolute;
  width: 80.0px;
  height: 82.45596376446905px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_49 {
  position: absolute;
  width: 322.171875px;
  min-height: 126.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_49 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_4 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_44 {
  position: absolute;
  width: 71.345703125px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_44 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_44 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Dynamic_panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 {
  width: 377.01776123046886px;
  height: 36.00000000000003px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 > .backgroundLayer > .colorLayer {
  background-color: #6699CC;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_8 {
  position: absolute;
  width: 45.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_9 {
  position: absolute;
  width: 53.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_9 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_9 span#rtr-s-Text_9_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_10 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_10 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_10 span#rtr-s-Text_10_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_11 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_11 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_11 span#rtr-s-Text_11_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_12 {
  position: absolute;
  width: 32.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_12 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_12 span#rtr-s-Text_12_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_1 {
  width: calc(99.99999999999999% - 0.0px - 0.0px);
  height: 184.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #003B6D;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_1 {
  position: absolute;
  width: 353.99999999999955px;
  min-height: 95.00000000000045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_29.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_29.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 200;
  text-transform: none;
  line-height: 19px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_29.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 200;
  text-transform: none;
  line-height: 19px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_2 {
  position: absolute;
  width: 289.9999999999998px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_0.0.0_system',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 {
  width: 314.0000000000005px;
  height: 36.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_3 {
  position: absolute;
  width: 45.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_3 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_3 span#rtr-s-Text_3_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_4 {
  position: absolute;
  width: 53.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_4 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_4 span#rtr-s-Text_4_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_5 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_5 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_5 span#rtr-s-Text_5_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_6 {
  position: absolute;
  width: 64.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_6 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_6 span#rtr-s-Text_6_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_7 {
  position: absolute;
  width: 32.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_7 span {
  color: #BDBDBD;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Text_7 span#rtr-s-Text_7_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image_1 .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image_1 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Image_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_50 {
  position: absolute;
  width: 322.171875px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_50 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_50 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_5 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_45 {
  position: absolute;
  width: 71.345703125px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_45 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-890e496c-34d0-4ae5-9c9d-9a0138702ffb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}