.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 11.219107551487415px;
  width: 71.75286041189932px;
  height: 156.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 .scenarioScreenThumbnail {
  width: 71.75286041189932px;
  height: 156.0px;
  background-image: url("../../../snapshots/36f18027-6da7-44fc-9256-771af708afa5.png");
  background-size: 71.75286041189932px 454.25629290617866px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 {
  position: absolute;
  left: 0.0px;
  top: 0.0px;
  width: 73.75286041189932px;
  height: 158.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 11.219107551487415px;
  width: 71.75286041189932px;
  height: 156.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 .scenarioScreenThumbnail {
  width: 71.75286041189932px;
  height: 156.0px;
  background-image: url("../../../snapshots/12577f98-54c0-478e-89c2-bc751b9de1ce.png");
  background-size: 71.75286041189932px 622.2151029748281px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 {
  position: absolute;
  left: 130.0px;
  top: 0.0px;
  width: 73.75286041189932px;
  height: 158.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 11.219107551487415px;
  width: 71.75286041189932px;
  height: 156.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 .scenarioScreenThumbnail {
  width: 71.75286041189932px;
  height: 156.0px;
  background-image: url("../../../snapshots/ccd644bd-dbf2-413e-a337-e18417378152.png");
  background-size: 71.75286041189932px 298.434782608695px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 {
  position: absolute;
  left: 272.0px;
  top: 0.0px;
  width: 73.75286041189932px;
  height: 158.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 11.219107551487415px;
  width: 71.75286041189932px;
  height: 156.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 .scenarioScreenThumbnail {
  width: 71.75286041189932px;
  height: 156.0px;
  background-image: url("../../../snapshots/890e496c-34d0-4ae5-9c9d-9a0138702ffb.png");
  background-size: 71.75286041189932px 265.05720823798566px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 {
  position: absolute;
  left: 420.0px;
  top: 0.0px;
  width: 73.75286041189932px;
  height: 158.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 11.219107551487415px;
  width: 71.75286041189932px;
  height: 156.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 .scenarioScreenThumbnail {
  width: 71.75286041189932px;
  height: 156.0px;
  background-image: url("../../../snapshots/f9d62a94-381a-406c-b1dc-85de38e37cce.png");
  background-size: 71.75286041189932px 242.924485125858px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 {
  position: absolute;
  left: 569.0px;
  top: 0.0px;
  width: 73.75286041189932px;
  height: 158.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 {
}
#scenarioWrapper {
  width: 642.7528604118993px;
  height: 158.0px;
}
#sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}